#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        %h1 Edit
        =image_tag @pin.image.url(:medium)
        =render 'form'
        %br/
        =link_to "Cancel", pin_path

