#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        =image_tag @pin.image.url
      .panel-body
        %h1= @pin.title
        %p= @pin.description
      .panel-footer
        .row
          .col-md-6
            %p.user
            Sumitted by:
            =@pin.user.email
          .col-md-6
            .btn-group.pull-right
              =link_to like_pin_path(@pin), method: :put, class: 'btn btn-default' do
                %span.glyphicon.glyphicon-heart
                  =@pin.get_upvotes.size
              -if user_signed_in?
                =link_to "Edit", edit_pin_path, class: 'btn btn-default'
                =link_to "Delete",@pin, class: 'btn btn-default', method: :delete, data: {confirm:"Are you sure ?"}
          .col-md-12
            %h4=pluralize(@pin.comments.count, "Comment")
            = render @pin.comments
            %h3= "Add a comment:"
            =render 'comments/form'

