.comment.clearfix
  .comment.comment_content
    .col-md-6
      .comment_comment
        =comment.comment
      .comment_name
        %small Submitted by
        %small= comment.name
      .comment_time
        %small Submitted
        %small= "#{time_ago_in_words(comment.created_at)} ago"
    .col-md-6
      .button.pull-right
        -if user_signed_in?
          =link_to "Delete",[comment.pin, comment],
                    method: :delete, class: "button", data:{ confirm: 'Are You Sure ?'}, class: "btn btn-default"
%br/
