= form_for ([@pin, @comment]) do |f|
  -if @comment.errors.any?
    #errors
      %h2= "#{pluralize(@comment.errors.count, "error")} prevented this comment from saving."
      %ul
        -@comment.errors.full_messages.each do|msg|
          %li= msg
  %p= f.label :name
  = f.text_field:name,class: "form-control"
  %p= f.label :comment
  = f.text_area :comment,class: "form-control"
  %br
  = f.submit
