.nav.navbar.navbar-default
  .container
    .navbar-brand= link_to "Pin Board", root_path
    -if user_signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "New Pin",new_pin_path
        %li= link_to "Account", edit_user_registration_path
        %li= link_to "Sign out",destroy_user_session_path, method: :delete
    -else
      %ul.nav.navbar-nav.navbar-right
        %li=link_to "Sign up",new_user_registration_path
        %li=link_to "Sign in",user_session_path
