!!! 5
%html
%head
  %title Pin Board
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  = render "layouts/top"
  .container
    -flash.each do |name,msg|
      =content_tag :div, msg , class: "alert alert-#{name}"
    = yield

